<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="Commoni18nLang" value="D:\project\frame\FrameManager\Frame.Services\XmlData\i18nlang\CommonLang\CommonLangi18n_{0}.xml"/>
    <add key="FrameSecurityi18nLang" value="D:\project\frame\FrameManager\Frame.Services\XmlData\i18nlang\FrameLang\FrameSecurity18n_{0}.xml"/>
    <add key="FrameManageri18nLang" value="D:\project\frame\FrameManager\Frame.Services\XmlData\i18nlang\FrameLang\FrameManager18n_{0}.xml"/>    
    <add key="ServiceConfigPath" value="D:\project\frame\FrameManager\Frame.Services\XmlData\ServiceConfig.xml"/>
    <add key="NodeCenterDataLeaveTime" value="1"/>
    <add key="NodeCenterDataInternalTime" value="30"/>
    <add key="currlang" value="zh-CN"/>
    <add key="permitMaxLoginFailtCnt" value="5"/>
    <add key="keypwd" value="custom_xxx"/>
    <add key="ivpwd" value="custom_xxx"/>
    <add key="ResetDefaultPwd" value="1234567"/>
    <add key="logpathForDebug" value="D:\project\frame\log\" />
    <add key="isLogpathForDebug" value="Y" />
    <add key="isLogin" value="N" />
    
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsBinding" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpEndpoint">
          <webHttp helpEnabled="true" defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true" faultExceptionEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceTimeouts transactionTimeout="00:30:00"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!-- 非Rest -->
      <service name="Frame.ServiceLibs.FrameSecurityService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsBinding" contract="Frame.ServiceInterfaces.FrameSecurityService"/>
      </service>
      <service name="Frame.ServiceLibs.FrameManagerService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsBinding" contract="Frame.ServiceInterfaces.FrameManagerService"/>
      </service>
      <!-- Rest -->
      <service name="Frame.ServiceLibs.FrameSecurityServiceRest">
        <endpoint behaviorConfiguration="webHttpEndpoint" binding="webHttpBinding" contract="Frame.ServiceInterfaces.FrameSecurityServiceRest"/>
      </service>
      <service name="Frame.ServiceLibs.FrameManagerServiceRest">
        <endpoint behaviorConfiguration="webHttpEndpoint" binding="webHttpBinding" contract="Frame.ServiceInterfaces.FrameManagerServiceRest"/>
      </service>     
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <assemblyBinding/>
</configuration>