<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="Commoni18nLang" value="D:\project\frame\XxxManager\Xxx.Service\XmlData\i18nlang\CommonLang\CommonLangi18n_{0}.xml"/>
    <add key="FrameSecurityi18nLang" value="D:\project\frame\XxxManager\Xxx.Service\XmlData\i18nlang\FrameLang\FrameSecurity18n_{0}.xml"/>
    <add key="FrameManageri18nLang" value="D:\project\frame\XxxManager\Xxx.Service\XmlData\i18nlang\FrameLang\FrameManager18n_{0}.xml"/>
    <add key="ServiceConfigPath" value="D:\project\frame\XxxManager\Xxx.Service\XmlData\ServiceConfig.xml"/>    
    <add key="XmldataPath" value="D:\project\frame\XxxManager\Xxx.Service\XmlData"/>
    <add key="XxxManageri18nLang" value="\i18nlang\XxxManagerLang\XxxManageri18n_{0}.xml"/>
    <add key="NodeCenterDataLeaveTime" value="1"/>
    <add key="NodeCenterDataInternalTime" value="30"/>
    <add key="currlang" value="zh-CN"/>
    <add key="logpathForDebug" value="D:\project\frame\log\" />
    <add key="isLogpathForDebug" value="Y" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsBinding" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpEndpoint">
          <webHttp helpEnabled="true" defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true" faultExceptionEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceTimeouts transactionTimeout="00:30:00"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!-- 非Rest -->
      <service name="Xxx.ServiceLibs.SomebizService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsBinding" contract="Xxx.ServiceInterfaces.SomebizService"/>
      </service>
      <!-- Rest -->
      <service name="Xxx.ServiceLibs.SomebizServiceRest">
        <endpoint behaviorConfiguration="webHttpEndpoint" binding="webHttpBinding" contract="Xxx.ServiceInterfaces.SomebizServiceRest"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <assemblyBinding/>
</configuration>