.login-inpput{
    background: url('../../assets/image/input_icons_24.png') no-repeat;
    background-position: 0 -61px;
    padding-left: 30px;
    display: block;
    width: 100%;
    height: 30px;
    border:1px solid #dddddd;
}
.login-password{
    background-position: 0 -140px;
}